<div class="backgroundImageLoginPage">
  <div class="content">
    <div class="loginPageContent">
      <!-- <h1>Edit {{ foodsEdit.food.title }}</h1> -->

      <form name="foodsEdit.form" ng-submit='foodsEdit.handleUpdate()' novalidate>

        <div class="field">
          <label for="title">Title</label>
          <input class="input" ng-model="foodsEdit.food.title" name="title" required/>
          <div ng-messages="foodsEdit.form.title.$error" ng-if="foodsEdit.form.title.$dirty || foodsEdit.form.$submitted">
            <div class="requiredField" ng-message="required">Please fill in this field</div>
          </div>
        </div>

    <div class="field">
      <label for="description">Description</label>
      <input class="input" ng-model="foodsEdit.food.description" name="description" required/>
      <div ng-messages="foodsEdit.form.description.$error" ng-if="foodsEdit.form.description.$dirty || foodsEdit.form.$submitted">
        <div class="requiredField" ng-message="required">Please enter a description</div>
      </div>
    </div>

    <div class="field">
      <label for="image">Image</label>
      <input class="input" ng-model="foodsEdit.food.image" name="image" required/>
      <div ng-messages="foodsEdit.form.image.$error" ng-if="foodsEdit.form.image.$dirty || foodsEdit.form.$submitted">
        <div class="requiredField" ng-message="required">Please upload an image</div>
      </div>
    </div>

        <button class="button is-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
