<div class="content">

  <h1>Foods Index</h1>
  <!-- <p>Here {{currentUser | json}}</p> -->

  <span ng-click="list=false" class="icon">
    <i class="fa fa-map-marker"></i>
  </span>
  <span ng-click="list=true" class="icon">
    <i class="fas fa-list"></i>
  </span>
  <div class="columns is-multiline ng-hide" ng-show="list">
    <div ng-repeat="food in foodsIndex.all" class="column is-half-tablet is-one-third-desktop">

      <a ui-sref="foodsShow({ id: food._id })">
        <div class="card">
          <div class="card-image" style="background-image: url({{ food.image }})"></div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ food.title }}</p>
                <p class="subtitle is-6">{{ food.description }}</p>
                <p class="subtitle is-6">{{ food.user }}</p>
                <p><small>{{ food.createdAtRelative }}</small></p>
                <!--- add location tag --->
              </div>
            </div>
          </div>
        </div>
      </a>

    </div>
  </div>
      <div ng-show="map" ng-hide="list" class="map" g-map center="currentUser.location">MAP HERE</div>
  </div>
</div>
