
<div class="backgroundImageHomePage">
  <div class="content">
    <div class="columns is-mobile homePageColumns">
      <div class="columnNew2 is-one-quarter-desktop is-one-quarter-tablet is-full-mobile">
        <h2 class="homePageHeader">Join the food sharing revolution</h2>
        <p>Foodlet connects neighbours with each other and with local shops so surplus food and other items can be shared, not thrown away.
        If you love food, hate waste, care about the environment or want to connect with your community, Foodlet is for you.</p>
        <a class="navbarItem register" ui-sref="register" ng-if="!main.isAuthenticated()">Sign up</a>
      </div>
      <div class="columnNew2 is-one-quarter-desktop is-one-quarter-tablet is-full-mobile">
        <img src="./assets/foodlet-UI-homepage.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="videoContainer" style="padding-top: 7%">
  <h2 class="homePageHeader">How it works</h2>
  <div class="columns is-mobile homePageColumns">
    <div class="columnNew is-one-quarter-desktop is-one-quarter-tablet is-full-mobile"><img src="./assets/assets_share1.svg" alt=""> </div>
    <div class="columnNew is-one-quarter-desktop is-one-quarter-tablet is-full-mobile"><img src="./assets/assets_share2.svg" alt=""> </div>
    <div class="columnNew is-one-quarter-desktop is-one-quarter-tablet is-full-mobile"><img src="./assets/assets_share3.svg" alt=""> </div>
    <div class="columnNew is-one-quarter-desktop is-one-quarter-tablet is-full-mobile"><img src="./assets/assets_share4.svg" alt=""> </div>
  </div>
  <!-- <img class="logoAboutPage" src="./assets/foodlet_logo.png" style="display: inline; width: 15%;position: absolute;top: 100px;margin: 0 auto;right: 6%;" > -->
</div>
