<!DOCTYPE html>
<html ng-app='foodlet'>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnUcFJmb7zTEF4gPr_D1FplePOYk2n5mw&libraries=places"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>foodlet</title>
  </head>
  <body ng-controller="MainCtrl as main">

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <!-- navbar-brand -->
        <div class="navbar-brand">
          <a class="navbar-item" ui-sref="home">
            <img src="./assets/foodlet_logo.png">
          </a>

          <a role="button" class="navbar-burger" ng-click="main.toggleNav()" ng-class="{ 'is-active': main.navBarIsOpen }">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <!-- end navbar-brand -->
        <!-- navbar-menu -->
        <div class="navbar-menu" ng-class="{ 'is-active': main.navBarIsOpen }">
          <div class="navbar-end">
            <!-- navbar items -->
            <!-- <a class="navbarItem" ui-sref="home">Home</a> -->
            <a class="navbarItem allFood" ui-sref="foodsIndex" ng-if="main.isAuthenticated()">Browse</a>
            <a class="navbarItem addFood" ui-sref="foodsNew" ng-if="main.isAuthenticated()">+ Add a food</a>
            <a class="navbarItem logOut" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>
            <!-- <a class="navbarItem" ui-sref="register" ng-if="!main.isAuthenticated()">Register</a> -->
            <a class="navbarItem login" ui-sref="login" ng-if="!main.isAuthenticated()">Login</a>
          </div>
        </div>
      </nav>
      
<!-- end navbar-menu -->
    <ui-view ng-if="main.isHome"></ui-view>

    <section class="section" ng-if="!main.isHome">
      <div class="container">
        <ui-view></ui-view>
      </div>
    </section>
    </body>
</html>
