<!DOCTYPE html>
<html ng-app='foodlet'>

  <head>
    <meta charset="utf-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDocspp2Re0jRZf41iKET3YRAC8o3IwvV0&libraries=places"></script>
    <script src="https://static.filestackapi.com/v3/filestack.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <title>foodlet</title>
  </head>

  <body ng-controller="MainCtrl as main">

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <!-- navbar-brand -->
        <div class="navbar-brand">
          <a class="navbar-item" ui-sref="home">
            <img src="./assets/foodlet_logo.png">
            <a class="navbarItem allFood" ui-sref="foodsIndex" ng-if="main.isAuthenticated()">Browse</a>
            <a class="navbarItem addFood" ui-sref="foodsNew" ng-if="main.isAuthenticated()">+ Add a food</a>
          </a>

          <a role="button" class="navbar-burger" ng-click="main.toggleNav()" ng-class="{ 'is-active': main.navBarIsOpen }">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <!-- end navbar-brand -->

        <!-- navbar-menu -->
        <div class="navbar-menu" ng-class="{ 'is-active': main.navBarIsOpen }">
          <div class="navbar-end">
            <div ng-if="main.isAuthenticated()" class="dropdown is-hoverable">
              <div class="account dropdown-trigger">
                <div class="userLoggedIn" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span>{{ main.currentUser.username }}</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div ng-controller="UsersShowCtrl as usersShow">
                <div class="dropdown-menu"  id="dropdown-menu4" role="menu">
                  <div class=" dropdown-content">
                      <a class="userLoggedIn logOut" ui-sref="profile" ng-if="main.isAuthenticated()">My items</a>
                      <hr>
                      <a class="userLoggedIn logOut" ui-sref="usersEdit({ id: usersShow.user._id })" ng-if="main.isAuthenticated()">Account</a>
                      <hr>
                      <a class="userLoggedIn logOut" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>
                  </div>
                </div>
              </div>
              <img class="profilePicture" ng-if="!main.currentUser.picture" src="../assets/user.svg" alt="">
              <img class="profilePicture" ng-if="main.currentUser.picture" src="{{ main.currentUser.picture }}" alt="">
            <!-- <img class="profilePicture" src="{{ main.currentUser.picture }}" alt=""> -->
          </div>

            <!-- navbar items -->

            <!-- <a class="navbarItem" ui-sref="home">Home</a> -->
            <!-- <a class="navbarItem" ui-sref="register" ng-if="!main.isAuthenticated()">Register</a> -->
            <a class="navbarItem login" ui-sref="login" ng-if="!main.isAuthenticated()">Login</a>
          </div>
        </div>
        <!-- {{ main }} -->

      </nav>

<!-- end navbar-menu -->


<!-- {{ id: locals.user._id}} -->

<!--- flash message --->
    <div ng-if="main.flashMessage.content" class="notification is-{{ main.flashMessage.type }}">
      {{ main.flashMessage.content }}
    </div>


<!-- main-section -->
    <ui-view ng-if="main.isHome"></ui-view>
    <section ng-if="!main.isHome">
      <ui-view></ui-view>
    </section>

  </body>
</html>
