// backgrounds

.backgroundImageHomePage {
  // width: 100vw;
    background-image: url(https://cdn.hellofresh.com/us/cms/lentil/delicious_how-it-works/bottom_banner/HIW_banner2_992x500.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundImageLoginPage, .backgroundImageRegisterPage {
    // width: 100vw;
    background-image: url(https://cdn-image.foodandwine.com/sites/default/files/styles/medium_2x/public/nourish-baby-food-ft-blog0617.jpg?itok=MBWK7-G-);
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.homePageContent {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 0 auto;
    height: 75vh;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.loginPageContent, .registerPageContent {
    background-color: rgba(244, 244, 244, 0.95);
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    top: 10px;
    position: relative;
    @media (max-width: 630px){
      top: 10px;
      padding: 5%;
      height: 100%;
    }
}
.registerPageContent {
  height: 560px;
  top: 10px;
  width: 100%;
  img{
    width: 100px;
    height: 100px;
  }
}

.foodsShowPageContent {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    top: 40px;
    position: relative;
    @media (min-width: 1000px){
      width: 95%;
    }
}
.addFoodPageContent {
    height: 100%;
    background-color: rgba(244, 244, 244, 0.95);
    width: 50%;
    margin: 0 auto;
    top: -10px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    /* top: 25px; */
    position: relative;
    @media (min-width: 320px) and (max-width: 999px){
      top: -18px;
      width: 90%;
      padding: 5%;
      font-size: 14px;
      .profilePictureMain{
        height: 120px;
        width: 120px;
      }
    }
    @media (min-width: 1000px){
      top: -18px;
      padding: 5%;
      font-size: 14px;
      width: 65%;
      .profilePictureMain{
        height: 150px;
        width: 150px;
      }
    }
}
.modal-content{
  text-align: center;
  color: #8CC63F;
}
