// images

.profilePictureMain {
    border-radius: 500px;
    width: 150px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    height: 150px;
    cursor: pointer;
}

.profilePictureMainOverlay{
  position: absolute;
  border-radius: 500px;
  width: 150px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  height: 150px;
  cursor: pointer;
}

.requestedUserPP{
  height: 80px;
  width: 80px;
  border-radius: 80px;
  float: left;
}

.profilePicture {
    width: 55px;
    top: 8px;
    position: relative;
    height: 55px;
    border-radius: 55px;
}
