
// modals

.modal-background {
    background-color: rgba(10, 10, 10, 0.8);
}

.success {
    /* margin: 0 auto; */
    /* padding: 0; */
    position: absolute;
    bottom: 0;
    width: 95%;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #8CC63F;
}
