// .videoHome {
//   width: 70%;
//   border-radius: 20px;
// }
//
// .logoAboutPage{
//   display: inline;
//   width: 15%;
//   position: absolute;
//   top: 100px;
//   margin: 0 auto;
//   right: 6%;
// }
.videoContainer {
    text-align: center;
    height: 375px;
}

h2.homePageFirstHeader{
  // text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  color: $green;
}
h2.homePageHeader {
    font-weight: 700;
    font-size: 40px;
    color: #99CC33;
    top: 20px;
    position: relative;
}
.homePageColumns {
width: 90%;
display: flex;
opacity: 0.9;
margin: 0 auto;
}
