// import google font with @import syntax


// import bulma initial-variables
@import "~bulma/sass/utilities/initial-variables";

// modify bulma variables

// import font Circe Rounded
@import url("https://use.typekit.net/ykn5qky.css");


// import bulma
@import '~bulma';

@import 'backgrounds';
@import 'buttons';
@import 'cards';
@import 'icons';
@import 'images';
@import 'text';



// backgrounds


.showcards {
    height: 100%;
    background-position: center;
    width: 100%;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


// images

.profilePictureMain {
    border-radius: 500px;
    width: 150px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    height: 150px;
}

.profilePictureMainOverlay{
  position: absolute;
  border-radius: 500px;
  width: 150px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  height: 150px;
}

.requestedUserPP{
  height: 80px;
  width: 80px;
  border-radius: 80px;
  float: left;
}

// cards

.requests{
  width: 100%;
  height: 100%;
}
.contain{
  width: 200px;
  height: 120px;
  margin: 0 auto;
}
.center{
  text-align: center;
}

.leftColumnUsersShow {
  float: left;
  width: 50%;
  // padding: 3%;
  height: 100%;
}

.rightColumnUsersShow{
  float: right;
  width: 50%;
  height: 100%;
  padding: 3%;
  text-align: center;
}

.card3 {
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    /* max-width: 100%; */
    width: 100%;
    margin-top: 20px;
    float: right;
    margin-top: 25px;
    height: 250px;
    position: relative;
    // padding: 3%;
    border-radius: 20px 20px 20px 20px;
}





// icons

.imageicon {
    position: relative;
    top: 15px;
}






// our css
.account {
    padding-top: 24px;
    padding-right: 20px;
    text-align: right;
    width: 100%;
}
.dropdown-content {
    height: 90px;
    border-radius: 20px;
    width: 100px;
    top: 10px;
    right: 20px;
    position: relative;
}
.profilePicture {
    width: 55px;
    top: 8px;
    position: relative;
    height: 55px;
    border-radius: 55px;
}
.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}
.backgroundImageHomePage {
  // width: 100vw;
    background-image: url(https://cdn.hellofresh.com/us/cms/lentil/delicious_how-it-works/bottom_banner/HIW_banner2_992x500.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundImageLoginPage {
    // width: 100vw;
    background-image: url(https://cdn-image.foodandwine.com/sites/default/files/styles/medium_2x/public/nourish-baby-food-ft-blog0617.jpg?itok=MBWK7-G-);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundImageRegisterPage {
    background-image: url(https://cdn-image.foodandwine.com/sites/default/files/styles/medium_2x/public/nourish-baby-food-ft-blog0617.jpg?itok=MBWK7-G-);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

// .field:not(:last-child) {
//     margin-bottom: 0rem;
// }


.left{
  float: left;
}
.map {
    height: 100vh;
    // width: 100vw;
    margin-top: -25px;
    margin-left: 0px;
    // position: absolute;
}

.submitButton{
  // top: 10px;
}

.userLoggedIn{
  color: #363636;
}
.paddingtop{
  padding-top: 50px;
}
body{
  font-family: 'circe rounded', 'helvetica';
  // font-size: 10px;
}
.toggleMapList {
    width: 50px;
    height: 80px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 200px;
    margin: 0 auto;
    right: 10%;
    z-index: 100;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.card-content {
    background-color: none;
    padding: 0.4rem;
    margin: 0 auto;
    height: 100px;
}
.card-content2{
   background-color: none;
    padding: 0.9rem;
    margin: 0 auto;
    height: 100px;
}

hr {
    background-color: whitesmoke;
    border: none;
    display: block;
    height: 2px;
    margin: 0;
}


.card2 {
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    /* max-width: 100%; */
    width: 100%;
    float: right;
    margin-top: -25px;
    height: 375px;
    position: relative;
    border-radius: 0px 0px 20px 20px;
}
.infoWindow {
    // background-color: red;
    width: 100px;
    border-radius: 20px;
    top: -5px;
    left: -40px;
    position: absolute;
    height: 100px;
    margin: 0 auto;
}
// .infoWindow img{
// border-radius: 20px;
// width:100px;
// height: 100px;
// background-size: cover;
// }
.gm-style-iw{
  display: contents;
  background-color: pink;
  text-align: center;
  position: relative;
  border-radius: 2px 2px 0 0;

}

.icon {
    /* align-items: center; */
    /* display: inline-flex; */
    justify-content: center;
    /* height: 1.5rem; */
    height: 50%;
    width: 100%;
    padding: 0;
    position: relative;
}

.homePageContent {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 0 auto;
    height: 75vh;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.loginPageContent {
    height: 100%;
    background-color: rgba(244, 244, 244, 0.95);
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    height: 55vh;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    top: 70px;
    position: relative;
}
.foodsShowPageContent {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    top: 40px;
    position: relative;
}
.registerPageContent {
    height: 100%;
    background-color: rgba(244, 244, 244, 0.95);
    width: 50%;
    margin: 0 auto;
    top: 20px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    top: 55px;
    position: relative;
}
.addFoodPageContent {
    height: 100%;
    background-color: rgba(244, 244, 244, 0.95);
    width: 50%;
    margin: 0 auto;
    top: -10px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    /* top: 25px; */
    position: relative;
}
.modal-content{
  text-align: center;
  color: #8CC63F;

}

.status {
    /* width: 100%; */
    float: right;
    font-size: 20px;
    text-transform: uppercase;
    color: #8CC63F;


}
.requestButton {
    border: 1px solid #99CC33;
    border-radius: 15px;
    color: white;
    /* margin: 15px; */
    width: 100%;
    margin-top: -15px;
    position: relative;
    padding: 10px;
    /* padding-top: 6px; */
    background-color: #99CC33;
}
.username {
    /* width: 100%; */
    float: left;
    left: 20px;
    position: relative;
    font-size: 20px;
}
.time {
    /* width: 100%; */
    float: right;
    font-size: 11px;
}
.modal-background {
    background-color: rgba(10, 10, 10, 0.8);
}

.success{
margin: 0;
padding: 0;
text-align: center;
color: #8CC63F;
}

.content {
    margin: 0 auto;
    top: 120px;
    /* padding-left: 0; */
    /* padding-right: 3%; */
    width: 80%;
    position: relative;
}

.content3 {
    margin: 0 auto;
    top: 90px;
    /* padding-left: 0; */
    /* padding-right: 3%; */
    width: 80%;
    position: relative;
}
.button.is-primary {
    background-color: #99CC33;
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
}

.container {
    margin: 0 auto;
    position: relative;
    // width: 100vw;
}
a:hover{
  color: #9DDD48;
}
.navbar-burger {

    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    height: 70px;
    margin-left: auto;
}
.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #9DDD48;
    border-color: transparent;
    color: #fff;
}

.card-image {
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card {
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    /* max-width: 100%; */
    width: 100%;
    float: right;
    margin-top: -25px;
    // margin-right: -10%;
    height: 60vh;
    position: relative;
    border-radius: 20px;
}
.card5 {
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    /* max-width: 100%; */
    width: 100%;
    float: right;
    margin-top: -25px;
    height: 50vh;
    position: relative;
    border-radius: 20px;
}

.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
    margin-bottom: 0.4em;
}

.title:not(.is-spaced) + .subtitle {
    margin-top: 0rem;
}

.subtitle{
    font-size: 2rem;
    padding-left: 20px;
}
.title.is-4 {
    font-size: 1.5rem;
    padding-left: 20px;
}

// .card {
//     background-color: white;
//     box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
//     color: #4a4a4a;
//     /* max-width: 100%; */
//     width: 100%;
//     float: right;
//     margin-top: -25px;
//     height: 60vh;
//     position: relative;
//     border-radius: 20px;
// }
.register {
  padding-top: 15px;
}


.navbar-item img {
  max-height: 2.75rem;
}

@media only screen and (max-width: 1087px) {
  .navbar-menu {
      background-color: white;
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
      padding: 0.5rem 0;
  }
}
.field:not(:last-child) {
    margin-bottom: 1.3rem;
}

.requiredField{
  font-size: 12px;
  margin-top: 6px;
  color: red;
  position: absolute;
}
.navbar {
    background-color: white;
    min-height: 3.25rem;
    /* position: relative; */
    width: 80%;
    margin: 0 auto;
    z-index: 30;
    top: 4%;
    position: absolute;
    border-radius: 20px;
    height: 70px;
}

.navbarItem:hover {
    background-color: none;
    color: darkGrey;
    position: relative;

}

.allfood {
    color: #99CC33;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
.addfood {
    color: #99CC33;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    float: right;
}

.login {
    color: #99CC33;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}


.mapShowPage {
    height: 60vh;
    border-radius: 20px;
    width: 100%;
    float: left;
    margin-top: -25px;
    margin-left: 0px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.mapShowPage2 {
    height: 60vh;
    border-radius: 20px;
    width: 100%;
    float: left;
    margin-top: -25px;
    margin-left: 0px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}



.plusbutton {
    color: white;
    cursor: pointer;
    top: -10px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 50px;
    font-weight: 200;
}

a {
  color: #99CC33;

}
.login {
    border: 1px solid #99CC33;
    border-radius: 15px;
    margin: 15px;
    padding-top: 6px;
}
.navbar-end {
    padding-right: 20px;
}

hr {
    /* background-color: whitesmoke; */
    border: 1px solid whitesmoke;
    display: block;
    height: 2px;
    margin: 0;
}

.logOut {
    /* border: 1px solid #99CC33; */
    /* border-radius: 15px; */
    margin: 0 auto;
    float: right;
    width: 100%;
    position: relative;
    /* width: 100px; */
    text-align: center;
}
.is-active{
  display: block;
}
.imageUpload{
  float: left;
  position: absolute;
}

.label:not(:last-child) {
    margin-bottom: 0em;
}
.right {
  float: right;
  position: relative;
}
.foodsIndexcontent{
  padding-left: 90px;
  padding-right: 90px;
}


@media only screen and (max-width: 1087px){

  .navbar-menu.is-active {
      display: block;
      height: 100%;
  }

}

.details {
display: inline;
position: relative;
font-size: 12px;
width: 100%;
}

// .addFoodButton {
//     width: 50px;
//     height: 50px;
//     border-radius: 50px;
//     position: absolute;
//     background-color: #99CC33;
//     right: 8vw;
//     top: 80vh;
//     z-index: 1000;
//     box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
//     text-align: center;
// }
.requestButton2 {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    position: relative;
    background-color: #99CC33;
    cursor: pointer;
    /* right: 5%; */
    top: 10px;
    position: 0px 0px 0px 0px;
    margin: 0;
    padding: 10px;
    color: white;
    z-index: 1000;
    text-align: center;
}
.editFoodButton {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    background-color: #FFC70D;
    right: 17%;
    top: 2%;
    padding-top: 9px;
    padding-left: 4px;
    color: white;
    z-index: 1000;
    text-align: center;
}
.deleteFoodButton {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    background-color: #FB6107;
    right: 2%;
    top: 2%;
    padding: 10px;
    color: white;
    z-index: 1000;
    text-align: center;
}
.addFood {
    margin: 15px;
    padding-top: 10px;
    float: right;
}

.allFood {
    margin: 15px;
    float: right;
    padding-top: 10px;
}
//
// a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
//     background-color: none;
// }

nav.navbar{

  right: 0;
  margin: 0 auto;
  left: 0;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}


.description-card {
  font-style: italic;
}


.upload-icon{
  font-size: 4em;
  max-width: 100%;
  margin: 0 auto;
}

.twitter {
  background-color: #00aced;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  border: 1px solid transparent;
  height: 2.25em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fa-twitter{
  color: #fff;
  position: absolute;
  left: 20px;
}

.twitter.button:hover, .twiter.button.is-hovered {
    background-color: #24c3ff;
    border-color: transparent;
    color: #fff;
}

.homepageOr{
  color: darkGrey;
  text-align: center;
}
