// import google font with @import syntax


// import bulma initial-variables
@import "~bulma/sass/utilities/initial-variables";

// modify bulma variables

// import font Circe Rounded
@import url("https://use.typekit.net/ykn5qky.css");


// import bulma
@import '~bulma';


$green: #99CC33;
$light-green: #9DDD48;



@import 'backgrounds';
@import 'buttons';
@import 'cards';
@import 'forms';
@import 'icons';
@import 'images';
@import 'maps';
@import 'modals';
@import 'text';
@import 'navbar';
@import 'flashMessage';



// not found

.container {
  margin: 0 auto;
  position: relative;
  // width: 100vw;
}

.plusbutton {
  color: white;
  cursor: pointer;
  top: -10px;
  text-align: center;
  text-decoration: none;
  position: relative;
  font-size: 50px;
  font-weight: 200;
}

.imageUpload{
  float: left;
  position: absolute;
}

.right {
  float: right;
  position: relative;
}

.allfood {
  color: $green;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.addfood {
  color: $green;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  float: right;
}
