<div class="content">

  <form name="register.form" ng-submit="register.handleRegister()" novalidate>

    <div class="field">
      <label for="username">Username</label>
      <input class="input" placeholder="Username" name="username" ng-model="register.data.username" />
      <div ng-messages="register.form.username.$error" ng-if="register.form.username.$dirty || register.form.$submitted">
        <div ng-message="required">Please fill in this field</div>
      </div>
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input class="input" placeholder="Email" name="email" ng-model="register.data.email" />
      <div ng-messages="register.form.email.$error" ng-if="register.form.email.$dirty || register.form.$submitted">
        <div ng-message="required">Please fill in this field</div>
      </div>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input class="input" type="password" placeholder="Password" name="password" ng-model="register.data.password" />
      <div ng-messages="register.form.password.$error" ng-if="register.form.password.$dirty || register.form.$submitted">
        <div ng-message="required">Please fill in this field</div>
      </div>
    </div>

    <div class="field">
      <label for="passwordConfirmation">Password Confirmation</label>
      <input class="input" type="password" placeholder="Password Confirmation" name="passwordConfirmation" ng-model="register.data.passwordConfirmation" />
      <div ng-messages="register.form.passwordConfirmation.$error" ng-if="register.form.passwordConfirmation.$dirty || register.form.$submitted">
        <div ng-message="required">Please fill in this field</div>
      </div>
    </div>

    <button class="button is-primary">Submit</button>

  </form>
</div>
