<div class="backgroundImageRegisterPage">
  <div class="content">
    <div class="registerPageContent column is-two-thirds-desktop">
      <form name="register.form" ng-submit="register.handleRegister()" novalidate>

        <div class="field">
          <label class="center label" >
            <input[type='file'] {color: transparent;} name="picture" ng-model="register.data.picture" image-upload />
            <!-- <i class="fas fa-cloud-upload-alt upload-icon"></i> -->

            <img class="profilePictureMain" ng-if="!register.data.picture" src="../assets/camera.svg">
            <img class="profilePictureMainOverlay" ng-if="register.data.picture" src="../assets/camera1.svg" style="opacity: 0.5;">
            <img class="profilePictureMain" ng-if="register.data.picture" ng-src="{{ register.data.picture }}">
          </label>
        </div>


        <div class="field">
          <label for="username">Username</label>
          <input class="input" placeholder="Username" name="username" ng-model="register.data.username" required/>
          <div ng-messages="register.form.username.$error" ng-if="register.form.username.$dirty || register.form.$submitted">
            <div class="requiredField" ng-message="required">Please enter a username</div>
          </div>
        </div>

        <div class="field">
          <label for="email">Email</label>
          <input class="input" placeholder="Email" name="email" ng-model="register.data.email" required/>
          <div ng-messages="register.form.email.$error" ng-if="register.form.email.$dirty || register.form.$submitted">
            <div class="requiredField" ng-message="required">Please enter a valid email address</div>
          </div>
        </div>

        <div class="field">
          <label for="password">Password</label>
          <input class="input" type="password" placeholder="Password" name="password" ng-model="register.data.password" required/>
          <div ng-messages="register.form.password.$error" ng-if="register.form.password.$dirty || register.form.$submitted">
            <div class="requiredField" ng-message="required">Please enter a password</div>
          </div>
        </div>

        <div class="field">
          <label for="passwordConfirmation">Password Confirmation</label>
          <input class="input" type="password" placeholder="Password Confirmation" name="passwordConfirmation" ng-model="register.data.passwordConfirmation" required/>
          <div ng-messages="register.form.passwordConfirmation.$error" ng-if="register.form.passwordConfirmation.$dirty || register.form.$submitted">
            <div class="requiredField" ng-message="required">Please confirm your password</div>
          </div>
        </div>

        <button class="submitButton button is-primary">Submit</button>

      </form>
    </div>
  </div>
</div>
