<div class="backgroundImageRegisterPage">
  <div class="content3">
    <div class="registerPageContent">
      <form name="register.form" ng-submit="register.handleRegister()" novalidate>

        <div class="field">
          <label for="username">Username</label>
          <input class="input" placeholder="Username" name="username" ng-model="register.data.username" required/>
          <div ng-messages="register.form.username.$error" ng-if="register.form.username.$dirty || register.form.$submitted">
            <div class="requiredField" ng-message="required">Please enter a username</div>
          </div>
        </div>

        <div class="field">
          <label for="email">Email</label>
          <input class="input" placeholder="Email" name="email" ng-model="register.data.email" required/>
          <div ng-messages="register.form.email.$error" ng-if="register.form.email.$dirty || register.form.$submitted">
            <div class="requiredField" ng-message="required">Please enter a valid email address</div>
          </div>
        </div>

        <div class="field">
          <label for="password">Password</label>
          <input class="input" type="password" placeholder="Password" name="password" ng-model="register.data.password" required/>
          <div ng-messages="register.form.password.$error" ng-if="register.form.password.$dirty || register.form.$submitted">
            <div class="requiredField" ng-message="required">Please enter a password</div>
          </div>
        </div>

        <div class="field">
          <label for="passwordConfirmation">Password Confirmation</label>
          <input class="input" type="password" placeholder="Password Confirmation" name="passwordConfirmation" ng-model="register.data.passwordConfirmation" required/>
          <div ng-messages="register.form.passwordConfirmation.$error" ng-if="register.form.passwordConfirmation.$dirty || register.form.$submitted">
            <div class="requiredField" ng-message="required">Please confirm your password</div>
          </div>
        </div>
        <div class="field">
          <label for="picture">Profile Picture</label>
          <!-- <div class="file"> -->
            <label class="label" >
              <input  type="file" placeholder="Image" name="picture" ng-model='register.data.picture' picture-upload />
            </label>
          <!-- </div> -->
          <div ng-messages="register.form.picture.$error" ng-if="register.data.picture.$dirty || register.form.$submitted">
            <div class="requiredField" ng-message="required">Please upload an picture</div>
          </div>
        </div>

        <button class="submitButton button is-primary">Submit</button>

      </form>
    </div>
  </div>
</div>
