
<div class="backgroundImageRegisterPage">
  <div class="content3">
    <div class="registerPageContent">
      <form name="usersEdit.form" ng-submit="usersEdit.handleUpdate()" novalidate>
      <!-- user: {{ usersEdit.user }} -->
        <div class="field">
          <label for="username">Username</label>
          <input class="input" name="username" ng-model="usersEdit.user.username" required/>
          <div ng-messages="usersEdit.form.username.$error" ng-if="usersEdit.form.username.$dirty || usersEdit.form.$submitted">
            <div class="requiredField" ng-message="required">Please enter a username</div>
          </div>
        </div>

        <div class="field">
          <label for="email">Email</label>
          <input class="input" name="email" ng-model="usersEdit.user.email" required/>
          <div ng-messages="usersEdit.form.email.$error" ng-if="usersEdit.form.email.$dirty || usersEdit.form.$submitted">
            <div class="requiredField" ng-message="required">Please enter a valid email address</div>
          </div>
        </div>

        <div class="field">
          <label for="picture">Profile Picture</label>
          <!-- <div class="file"> -->
            <label class="label" >
              <input  type="file" name="picture" ng-model="usersEdit.user.picture" image-upload />
            </label>
          <!-- </div> -->
          <div ng-messages="usersEdit.form.picture.$error" ng-if="usersEdit.form.picture.$dirty || usersEdit.form.$submitted">
            <div class="requiredField" ng-message="required">Please upload an picture</div>
          </div>
        </div>

        <button class="submitButton button is-primary">Submit</button>

      </form>
    </div>
  </div>
</div>
