<div class="content foodsIndexcontent">
  <div class="foodsShowPageContent">
    <div class="card3" ng-repeat="food in usersShow.user.foods">
      <div class="leftColumnUsersShow">
        <a ui-sref="foodsShow({ id: food.id })">
          <div class="showcards" style="background-image: url({{ food.image }})"></div>
        </div>
        </a>
      <div class="rightColumnUsersShow">
        <p class="subtitle is-4">{{ food.title }}</p>
        <div ng-if="!food.requests.status">
          <p>No requests yet!</p>
        </div>
        <div class="requests" ng-repeat="request in food.requests">
          <div class="contain">
            <img class="requestedUserPP" src="{{ request.user.picture }}">
            <div class="left">{{ request.user.username }}</div>
            <p>{{ request.status }}</p>
          </div>
          <div ng-click="usersShow.handleRequestAccept(food.id, request.id)">
            <a class="login">Accept Request</a>
          </div>
      </div>
    </div>
  </div>
</div>
