<div class="content foodsIndexcontent">
  <div class="foodsShowPageContent">
    <div class="card3" ng-repeat="food in usersShow.user.foods">
      <div class="leftColumnUsersShow">
        <a ui-sref="foodsShow({ id: food.id })">
          <div class="showcards" style="background-image: url({{ food.image }})"></div>
        </div>
        </a>
      <div class="rightColumnUsersShow">
        <p class="subtitle is-4">{{ food.title }}</p>
        <div ng-if="!food.requests[0].status">
          <p>No requests yet!</p>
        </div>
        <div class="requests" ng-repeat="request in food.requests">
          <div class="contain">
            <!-- {{request}} -->
            <img class="requestedUserPP" src="{{ request.user.picture }}">
            <div class="username left">{{ request.user.username }}</div>
            <div  class="status" >{{ request.status }}</div>
            <div  class="time" >{{ request.createdAtRelative }}</div>
          </div>
          <div class="requestButton" ng-click="usersShow.handleRequestAccept(food.id, request.id)" ng-if="request.status === 'rejected'">
            Accept Request
          </div>
      </div>
    </div>
  </div>
</div>
